{% if settings.cart_type == 'drawer' %}
  <div id="CartDrawer" class="drawer drawer--right cart-drawer">
    <form id="CartDrawerForm" action="{{ routes.cart_url }}" method="post" novalidate class="drawer__contents">
      <div class="drawer__fixed-header">
        <div class="cart-drawer__header drawer__header appear-animation appear-delay-1">
          <div class="cart-drawer__title drawer__title is-active"{% if settings.cart_upsell_enable %} data-tab="items"{% endif %}>
            <span>{{ 'cart.general.title' | t }}</span>
            <div>(<span class="cart-link__bubble-num">{{ cart.item_count }}</span>)</div>
          </div>

          {% if settings.cart_upsell_enable %}
            <div class="cart-drawer__title drawer__title" data-tab="upsell">
              <span>{{ 'cart.general.upsell.title' | t }}</span>

              <svg class="bell" width="20" height="18" fill="none" aria-hidden="true"><path d="M17.082 13.076c.35-.501.462-1.117.308-1.743l-.012-.038c-.42-1.765-.858-3.589-1.391-5.359-.657-2.184-2.237-3.567-4.688-4.112-.136-.032-.278-.049-.426-.07l-.213-.033s-.521-.055-.864-.033c-.243.011-.48.05-.48.05-.035.005-.065.016-.094.021-2.658.425-4.392 1.797-5.15 4.079-.527 1.585-.923 3.246-1.302 4.852-.053.23-.107.458-.166.681-.284 1.176.497 2.369 1.734 2.652.527.12 1.078.207 1.616.289.09.016.184.027.273.043l.047.006c.473.07.586.169.704.615.255.926.941 1.656 1.894 2.004.936.343 1.96.25 2.818-.256.734-.43 1.184-1.045 1.379-1.879.06-.266.237-.413.533-.457a39.312 39.312 0 0 0 1.835-.305c.698-.142 1.284-.495 1.645-1.007Zm-4.824 1.857c-.047.74-1.054 1.508-2.066 1.579-.059.005-.112.005-.171.005-1.078 0-2.102-.675-2.285-1.535l-.083-.392h4.629l-.024.343Zm-2.29-.975h-.149c-1.633 0-3.362-.174-5.137-.518-.486-.092-.9-.348-1.154-.713a1.517 1.517 0 0 1-.237-1.214l.024-.098c.414-1.792.84-3.644 1.426-5.435.675-2.075 2.687-3.497 5.12-3.622 2.208-.114 4.344 1.15 5.197 3.082.278.638.455 1.307.627 1.956l.047.18c.326 1.24.646 2.532.977 3.942.1.42.018.85-.237 1.204-.254.364-.663.62-1.142.713a26.346 26.346 0 0 1-5.363.523Z" fill="currentColor" stroke="currentColor" stroke-width=".5" /></svg>
            </div>
          {% endif %}

          <div class="drawer__close">
            <button type="button" class="drawer__close-button js-drawer-close">
              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"/></svg>
              <span class="icon__fallback-text">{{ 'cart.general.close_cart' | t }}</span>
            </button>
          </div>
        </div>
      </div>

      <div class="cart-drawer__inner drawer__inner">
        <div class="drawer__scrollable">
          <div class="drawer__tab appear-animation appear-delay-2 is-active" data-products{% if settings.cart_upsell_enable %} data-tab="items"{% endif %}></div>

          {% if settings.cart_upsell_enable %}
            <div class="drawer__tab appear-animation appear-delay-2" data-upsell-products data-tab="upsell">
              <div class="text-center">{{ 'cart.general.upsell.empty' | t }}</div>
            </div>
          {% endif %}

          {% if settings.cart_notes_enable %}
            <div class="appear-animation appear-delay-3">
              <label for="CartNoteDrawer">{{ 'cart.general.note' | t }}</label>
              <textarea name="note" class="input-full cart-notes" id="CartNoteDrawer">{{ cart.note }}</textarea>
            </div>
          {% endif %}
        </div>

        <div class="drawer__footer appear-animation appear-delay-4">
          <div data-free-shipping></div>
          <div data-discounts>
            {% if cart.cart_level_discount_applications != blank %}
              <div class="cart__item-sub cart__item-row">
                <div>{{ 'cart.general.discounts' | t }}</div>
                <div class="text-right">
                  {% for cart_discount in cart.cart_level_discount_applications %}
                    <div>
                      {{ cart_discount.title }} (-{{ cart_discount.total_allocated_amount | money }})
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </div>

          <div class="cart__total" data-total>
            <div class="cart__item-sub cart__item-row">
              <div class="cart__subtotal">{{ 'cart.general.subtotal' | t }}</div>
              <div data-subtotal>{{ cart.total_price | money }}</div>
            </div>

            <div class="cart__item-row cart__savings hide" data-savings></div>

            {% if settings.cart_terms_conditions_enable %}
              <div class="cart__item-row cart__terms">
                <input type="checkbox" id="CartTermsDrawer" class="cart__terms-checkbox">
                <label for="CartTermsDrawer">
                  {% if settings.cart_terms_conditions_page != blank %}
                    {{ 'cart.general.terms_html' | t: url: settings.cart_terms_conditions_page.url }}
                  {% else %}
                    {{ 'cart.general.terms' | t }}
                  {% endif %}
                </label>
              </div>
            {% endif %}
  
            <div class="cart__checkout-wrapper">
              <button type="submit" name="checkout" data-terms-required="{{ settings.cart_terms_conditions_enable }}" class="btn cart__checkout">
                {{ 'cart.general.checkout' | t }}
              </button>
  
              {% if additional_checkout_buttons and settings.cart_additional_buttons %}
                <div class="additional-checkout-buttons additional-checkout-buttons--vertical">{{ content_for_additional_checkout_buttons }}</div>
              {% endif %}
            </div>
          </div>

          <div class="ajaxcart__note ">
            <p>
              {{ 'cart.general.shipping_at_checkout' | t }}<br />
            </p>
          </div>
        </div>
      </div>

      <div class="drawer__cart-empty appear-animation appear-delay-2">
        <div class="drawer__scrollable">
          {{ 'cart.general.empty' | t }}
        </div>
      </div>
    </form>
  </div>
{% endif %}
