{%- liquid
  assign on_sale = false
  if product.compare_at_price > product.price
    assign on_sale = true
  endif
-%}

<div class="upsell-item">
  <div data-aos>
    <a href="{{ product.url }}" class="image-wrap">
      {%- assign img_url = product | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      <img class="lazyload"
          data-src="{{ img_url }}"
          data-widths="[180, 360, 540]"
          data-aspectratio="{{ product.aspect_ratio }}"
          data-sizes="auto"
          alt="{{ product.title | escape }}">
      <noscript>
        <img class="lazyloaded"
          src="{{ product | img_url: '400x' }}"
          alt="{{ product.title | escape }}">
      </noscript>
    </a>
  </div>

  <div class="upsell-item__meta">
    <form data-upsell-product>
      <input type="hidden" name="quantity" value="1">

      <a href="{{ product.url }}" class="upsell-item__title">
        {{ product.title }}
      </a>

      <select name="id"{% if product.has_only_default_variant %} class="visually-hidden"{% endif %}>
        {% for variant in product.variants %}
          <option value="{{ variant.id }}"{% if variant == product.selected_or_first_available_variant %} selected{% endif %}>{{ variant.title }}</option>
        {% endfor %}
      </select>

      <div class="upsell-item__price">
        {%- if on_sale -%}
          <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
          <span class="grid-product__price--original">{{ product.compare_at_price | money }}</span>
          <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
        {%- endif -%}
        {%- if product.price_varies -%}
          {%- assign price = product.price_min | money -%}
          <span {% if on_sale %}class="sale-price"{% endif %}>
            {{ 'products.general.from_text_html' | t: price: price }}
          </span>
        {%- else -%}
          {%- comment -%}
          <span {% if on_sale %}class="sale-price"{% endif %}>
            {{ product.price  | money }}
          </span>
          {%- endcomment -%}
  
          {%- comment -%}Bold price{%- endcomment -%}
          <span class="{% if on_sale %}sale-price {% endif %}money" data-product-id="{{ product.id }}">{{ product.price | money }}</span>
        {%- endif -%}

        {%- assign product_variant = product.selected_or_first_available_variant -%}
        {%- if product_variant.unit_price_measurement -%}
          <div class="product__unit-price">
            {%- capture unit_price_base_unit -%}
              {%- if product_variant.unit_price_measurement -%}
                {%- if product_variant.unit_price_measurement.reference_value != 1 -%}
                  {{ product_variant.unit_price_measurement.reference_value }}
                {%- endif -%}
                {{ product_variant.unit_price_measurement.reference_unit }}
              {%- endif -%}
            {%- endcapture -%}
  
            {{ product_variant.unit_price | money }}/{{ unit_price_base_unit }}
          </div>
        {%- endif -%}
      </div>

      <div class="upsell-item__button">
        <button
          type="button"
          class="btn btn--no-animate"
        >
          {{ 'cart.general.upsell.add_to_cart' | t }}
        </button>
      </div>
    </form>
  </div>

  {%- comment -%}Bold price{%- endcomment -%}
  <script type="application/json" class="bold-product-json">{{ product | json }}</script>
</div>
