{%- liquid
  assign header_font = settings.type_header_font_family
  assign header_font_medium = header_font | font_modify: 'weight', '500'
  assign base_font = settings.type_base_font_family
  assign base_font_bold = base_font | font_modify: 'weight', '+200'
  assign base_font_italic = base_font | font_modify: 'style', 'italic'
  assign base_font_bold_italic = base_font_bold | font_modify: 'style', 'italic'
-%}

{%- style -%}
  {{ header_font | font_face: font_display: 'swap' }}
  {{ header_font_medium | font_face: font_display: 'swap' }}
  {{ base_font | font_face: font_display: 'swap' }}

  {{ base_font_bold | font_face: font_display: 'swap' }}
  {{ base_font_italic | font_face: font_display: 'swap' }}
  {{ base_font_bold_italic | font_face: font_display: 'swap' }}
{%- endstyle -%}
