<!-- Please add your Google Ads Audience Source Tag ID -->
{% assign fa_google_ads_audience_tag_id = 740689599 %}

<!-- Please add your alpha2 code, you can find it here: https://help.shopify.com/en/api/custom-storefronts/storefront-api/reference/enum/countrycode -->
{% assign fa_product_id_alpha2_code = 'CH' %}

<!-- if you have prices such as 1,000.00 set below to true, if you have prices such as 1.000,00 set below to false -->
{% assign fa_prices_with_decimal_separator = false %}

<!-- set your product id values are default, product_id, parent_id, sku-->
{% assign fa_product_id = 'product_id' %}



<!-- Global site tag (gtag.js) - Ads. -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CC2M4RCC07"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  
  gtag('config', 'AW-740689599');
</script>
<!-- Global site tag (gtag.js) - Ads. -->


{% if template contains 'collection' %}

<script>
  gtag('event', 'page_view', {
    'send_to': 'AW-740689599',
    'ecomm_pagetype': 'category',
    'ecomm_prodid': '',
    'ecomm_totalvalue': '',
    'user_id': '{{customer.id}}'
  });
</script>

{% elsif template contains 'product' %}

<script>
  gtag('event', 'page_view', {
    'send_to': 'AW-740689599',
    'ecomm_pagetype': 'product',
    'ecomm_prodid': 'shopify_CH_{{ product.id }}_{{ product.variants.first.id }}',
    'ecomm_totalvalue': '{{ product.price | money_without_currency }}',
    'user_id': '{{customer.id}}'
  });
</script>

{% elsif template contains 'search' %}

<script>
  gtag('event', 'page_view', {
    'send_to': 'AW-740689599',
    'ecomm_pagetype': 'searchresults',
    'ecomm_prodid': '',
    'ecomm_totalvalue': '',
    'user_id': '{{customer.id}}'
  });
</script>

{% elsif template contains 'cart' %}

<script>
  gtag('event', 'page_view', {
    'send_to': 'AW-740689599',
    'ecomm_pagetype': 'cart',
    {% if cart.item_count > 1 %} 
			'ecomm_prodid': [{% for item in cart.items %}'shopify_CH_{{ item.product_id }}_{{ item.variant.id }}'{% if forloop.last != true %},{% endif %}{% endfor %}],
		{% elsif cart.item_count == 1 %}
			'ecomm_prodid': {% for item in cart.items %}'shopify_CH_{{ item.product_id }}_{{ item.variant.id }}'{% endfor %},
		{% else %}
			ecomm_prodid: '',
		{% endif %}
			
			'ecomm_totalvalue': {{ cart.total_price | money_without_currency }},
            'user_id': '{{customer.id}}'
		});
    
  );
</script>

{% elsif template contains 'index' %}

<script>
  gtag('event', 'page_view', {
    'send_to': 'AW-740689599',
    'ecomm_pagetype': 'home',
    'ecomm_prodid': '',
    'ecomm_totalvalue': '',
    'user_id': '{{customer.id}}'
  });
</script>

{% else %}

<script>
  gtag('event', 'page_view', {
    'send_to': 'AW-740689599',
    'ecomm_pagetype': 'other',
    'ecomm_prodid': '',
    'ecomm_totalvalue': '',
    'user_id': '{{customer.id}}'
  });
</script>

{% endif %}