{% assign chk = 'true' %}
{% for tag in product.tags %}
	{% if tag == 'ACCESSORIES' %}
		{% assign chk = 'false' %}
	{% endif %}
{% endfor %}

<div class="nav-tab-sec">
<div class="container">

	<ul class="tabs">
		<li class="tab-link current" data-tab="tab-1">Produkt&#173;beschreibung</li>
      {% if chk == 'true' %}
        <li class="tab-link" data-tab="tab-2">Zutaten</li>
        <li class="tab-link" data-tab="tab-3">Nährwerte</li>
		<li class="tab-link" data-tab="tab-4">Weitere Informationen</li>
      {% endif %}
	</ul>

	<div id="tab-1" class="tab-content current">
      <div class="row">
        <div class=" {%- if product.metafields.my_fields.video != blank -%}col-md-6{%- endif -%}">
        	<div class="content-inner">
              <p>{{ product.metafields['description']['description'] }}</p>
          </div>
          </div>
        
        <div class="col-md-6">
         {% comment %} {%- if product.metafields.my_fields.video != blank -%}
          <div class="video-inner">
            {% comment %}<video controls playsinline>
  			<source src="{{ product.metafields.my_fields.video }}" type="video/mp4">
			</video>{% endcomment %}
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KgA2TpKJC30" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          {%- endif -%}
          {% endcomment %}
<!--           <div class="des-img">
            <a href="https://www.youtube.com/embed/KgA2TpKJC30">
              <img src="https://cdn.shopify.com/s/files/1/0599/9961/7233/files/lucas-clara-579404-unsplash-Kopie-scaled_21ab47f1-072b-4667-adaa-2349512260d8.jpg?v=1632910566">
              
            </a>

          </div> -->
          
          <div class="des-img page">
            {%- if product.metafields.my_fields.video != blank -%}
                <iframe src="{{ product.metafields.my_fields.video }}" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
              </div>

         
          {% comment %}  {% else %}{% endcomment %}
<!--             <p>
              <a href="#media-popup" data-media="//www.youtube.com/embed/YoXa2Pl7Hk0">
              <img src="https://cdn.shopify.com/s/files/1/0599/9961/7233/files/lucas-clara-579404-unsplash-Kopie-scaled_21ab47f1-072b-4667-adaa-2349512260d8.jpg?v=1632910566">
                <div class="youtube-icon">
                <img src="https://cdn.shopify.com/s/files/1/0599/9961/7233/files/youtube_1.png?v=1642068565">
              </div>
              </a>
            </p> -->
            {% endif %}

            <div class="popup" id="media-popup">
              <iframe width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          
        </div>
      </div>
	</div>
  
	<div id="tab-2" class="tab-content">
	  {{ product.metafields['ingredient']['ingredient'] }}
	</div>
  
	<div id="tab-3" class="tab-content">
		{{ product.metafields['nutrition']['nutrition'] }}
	</div>
  
    <div id="tab-4" class="tab-content">
		{{ product.metafields['information']['information'] }}
	</div>

</div><!-- container -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
	
	$('ul.tabs li').click(function(){
		var tab_id = $(this).attr('data-tab');

		$('ul.tabs li').removeClass('current');
		$('.tab-content').removeClass('current');

		$(this).addClass('current');
		$("#"+tab_id).addClass('current');
	})

})

$("[data-media]").on("click", function(e) {
    e.preventDefault();
    var $this = $(this);
    var videoUrl = $this.attr("data-media");
    var popup = $this.attr("href");
    var $popupIframe = $(popup).find("iframe");
    
    $popupIframe.attr("src", videoUrl);
    
    $this.closest(".page").addClass("show-popup");
});

$(".popup").on("click", function(e) {
    e.preventDefault();
    e.stopPropagation();
    
    $(".page").removeClass("show-popup");
});

$(".popup > iframe").on("click", function(e) {
    e.stopPropagation();
});
</script>

<style>
.popup {
    position:absolute;
    z-index:2;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    opacity:0;
    visibility:hidden;
    transition:.3s ease;
}

.show-popup .popup {
    opacity:1;
    visibility: visible;    
}

.popup > iframe {
    position:absolute;
    top:50px;
    left:50%;
    margin-left:-280px;
}
</style>
