<!--Start Weglot Script-->
<script src="https://cdn.weglot.com/weglot.min.js"></script>
<script id="has-script-tags">
  Weglot.initialize({
    api_key:"wg_12cfd3580af1fed66c3be6d92e430a8b9",
    customer_tag: true,
    switchers: [
      {
        button_style: {
          full_name: true,
          with_name: true,
          is_dropdown: true,
          with_flags: false,
          flag_type: "shiny",
          invert_flags: false
        },
        location: {
          target: ".site-nav__weglot",
          sibling: null
        }
      },
      {
        button_style: {
          full_name: true,
          with_name: true,
          is_dropdown: true,
          with_flags: false,
          flag_type: "shiny",
          invert_flags: false
        },
        location: {
          target: ".site-nav__weglot_mobile",
          sibling: null
        }
      }
    ]
  });
</script>
<!--End Weglot Script-->