{%- if section.settings.space_around -%}
  <div class="index-section">
{%- endif -%}
{%- unless section.settings.full_width -%}
  <div class="page-width">
{%- endunless -%}

{%- for block in section.blocks -%}
  {% render block %}
{%- endfor -%}

{%- unless section.settings.full_width -%}
  </div>
{%- endunless -%}
{%- if section.settings.space_around -%}
  </div>
{%- endif -%}

{% schema %}{"name":"Apps","tag":"section","settings":[{"type":"checkbox","id":"full_width","label":"Full page width","default":false},{"type":"checkbox","id":"space_around","label":"Add spacing above and below","default":true}],"blocks":[{"type":"@app"}],"default":{}}{% endschema %}
