{%- liquid
  assign isEmpty = true

  if section.blocks.size > 0
    assign isEmpty = false
  endif
-%}

{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div class="page-width">
  {%- if section.settings.title != blank -%}
    <div class="section-header">
      <h2 class="section-header__title">{{ section.settings.title }}</h2>
    </div>
  {% endif %}

  <div class="grid{% if section.settings.enable_gutter %} grid--small-gutters{%else%} grid--no-gutters{% endif %}">

    {%- for block in section.blocks -%}
      {%- liquid
        assign collection = collections[block.settings.collection]
        case block.settings.size
          when 'square-small'
            assign grid_item_width = 'medium-up--one-quarter small--one-half collection--square-small'
          when 'wide'
            assign grid_item_width = 'medium-up--one-half collection--wide'
          when 'tall'
            assign grid_item_width = 'medium-up--one-quarter small--one-half collection--tall'
          when 'square-large'
            assign grid_item_width = 'medium-up--one-half collection--square-large'
        endcase
        assign background_position = block.settings.focal_point
      -%}
      {%- render 'collection-grid-item', collection: collection, grid_item_width: grid_item_width, background_position: background_position -%}
    {%- endfor -%}

    {% if isEmpty %}
      <div class="page-width">
        <div class="grid">
          <div class="grid__item">
            <div class="rte">
              {{ 'home_page.onboarding.no_content' | t }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}

  </div>
</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}{"name":"Collection list","class":"index-section","max_blocks":15,"settings":[{"type":"text","id":"title","label":"Heading","default":"Collection list"},{"type":"checkbox","id":"divider","label":"Show section divider","default":false},{"type":"checkbox","id":"enable_gutter","label":"Add spacing","default":false}],"blocks":[{"type":"collection","name":"Collection","settings":[{"id":"collection","type":"collection","label":"Collection"},{"type":"select","id":"focal_point","label":"Focal point","info":"Used to keep the subject of your photo in view.","default":"center center","options":[{"value":"20% 0","label":"Top left"},{"value":"top center","label":"Top center"},{"value":"80% 0","label":"Top right"},{"value":"20% 50%","label":"Left"},{"value":"center center","label":"Center"},{"value":"80% 50%","label":"Right"},{"value":"20% 100%","label":"Bottom left"},{"value":"bottom center","label":"Bottom center"},{"value":"80% 100%","label":"Bottom right"}]},{"type":"select","id":"size","label":"Size","default":"square-small","options":[{"label":"Square (small)","value":"square-small"},{"label":"Wide","value":"wide"},{"label":"Tall","value":"tall"},{"label":"Square (large)","value":"square-large"}]}]}],"default":{"blocks":[{"type":"collection","settings":{"size":"wide"}},{"type":"collection"},{"type":"collection"},{"type":"collection"},{"type":"collection"},{"type":"collection","settings":{"size":"wide"}}]}}{% endschema %}
