{% comment %}
Translations of PickyStory locale strings.
If you choose to uninstall PickyStory, this section can be safely deleted.
Get the app: https://go.pickystory.com/8nsjceym.
Contact us for any questions: hello@pickystory.com.
Copyright (C) 2022 Picky Story Ltd. - All Rights Reserved
{% endcomment %}

{% schema %}
  {
    "name": "PickyStory Locale Info"
  }
{% endschema %}

<div class="pickystory-content-json">
  {"pickystory.cart.cart_notice": "{{ 'pickystory.cart.cart_notice' | t }}", "pickystory.cart.view_cart": "{{ 'pickystory.cart.view_cart' | t }}", "pickystory.product.add_selected_to_cart": "{{ 'pickystory.product.add_selected_to_cart' | t }}", "pickystory.product.out_of_stock_text": "{{ 'pickystory.product.out_of_stock_text' | t }}", "pickystory.product.quantity_text": "{{ 'pickystory.product.quantity_text' | t }}", "pickystory.product.total": "{{ 'pickystory.product.total' | t }}", "pickystory.product.already_in_cart": "{{ 'pickystory.product.already_in_cart' | t }}", "pickystory.product.add_to_cart_text": "{{ 'pickystory.product.add_to_cart_text' | t }}", "pickystory.deal.select_options": "{{ 'pickystory.deal.select_options' | t }}", "pickystory.coupon.enter_code": "{{ 'pickystory.coupon.enter_code' | t }}", "pickystory.coupon.activated": "{{ 'pickystory.coupon.activated' | t }}", "pickystory.coupon.invalid_code": "{{ 'pickystory.coupon.invalid_code' | t }}"}
</div>
