{% comment %}
Dynamic store routes for use by PickyStory locale and translations.
If you choose to uninstall PickyStory, this section can be safely deleted.
Get the app: https://go.pickystory.com/8nsjceym.
Contact us for any questions: hello@pickystory.com.
Copyright (C) 2022 Picky Story Ltd. - All Rights Reserved
{% endcomment %}

{% schema %}
  {
    "name": "PickyStory Routes"
  }
{% endschema %}

<div class="pickystory-content-json">
  {"routes.root_url": "{{ routes.root_url }}", "routes.account_url": "{{ routes.account_url }}", "routes.account_login_url": "{{ routes.account_login_url }}", "routes.account_logout_url": "{{ routes.account_logout_url }}", "routes.account_register_url": "{{ routes.account_register_url }}", "routes.account_addresses_url": "{{ routes.account_addresses_url }}", "routes.collections_url": "{{ routes.collections_url }}", "routes.all_products_collection_url": "{{ routes.all_products_collection_url }}", "routes.search_url": "{{ routes.search_url }}", "routes.predictive_search_url": "{{ routes.predictive_search_url }}", "routes.cart_url": "{{ routes.cart_url }}", "routes.cart_add_url": "{{ routes.cart_add_url }}", "routes.cart_change_url": "{{ routes.cart_change_url }}", "routes.cart_clear_url": "{{ routes.cart_clear_url }}", "routes.cart_update_url": "{{ routes.cart_update_url }}", "routes.product_recommendations_url": "{{ routes.product_recommendations_url }}"}
</div>
