{% comment %}
Render product info to JSON.
If you choose to uninstall PickyStory, this section can be safely deleted.
Get the app: https://go.pickystory.com/8nsjceym.
Contact us for any questions: hello@pickystory.com.
Copyright (C) 2022 Picky Story Ltd. - All Rights Reserved
{% endcomment %}

{% schema %}
  {
    "name": "PickyStory product info",
    "settings": []
  }
{% endschema %}

<div class="pickystory-content-json">
  {%- render 'wc_product_json', product: product -%}
</div>
