{%- liquid
  assign recommend_products = true

  if recommendations.products and recommendations.products_count > 0
    assign related_collection = recommendations
  endif

  for tag in product.tags
    if tag contains '_related'
      assign include_collection_handle = tag | split: '_' | last
      assign include_collection = collections[include_collection_handle]
      if include_collection != empty and include_collection.products_count > 0
        assign related_collection = include_collection
        assign recommend_products = false
        break
      endif
    endif
  endfor

  assign number_of_products = section.settings.related_count
-%}

{%- if section.settings.show_product_recommendations -%}
  <div
    id="Recommendations-{{ product.id }}"
    data-section-id="{{ product.id }}"
    data-section-type="product-recommendations"
    data-enable="{{ recommend_products }}"
    data-product-id="{{ product.id }}"
    data-url="{{ routes.product_recommendations_url }}"
    data-limit="{{ number_of_products }}">
    <div
      data-section-id="{{ product.id }}"
      data-subsection
      data-section-type="collection-template"
      class="index-section">
      <div class="page-width">
        <header class="section-header">
          <h3 class="section-header__title">
            {{ section.settings.product_recommendations_heading }}
          </h3>
        </header>
      </div>

      <div class="page-width page-width--flush-small">
        <div class="grid-overflow-wrapper">
          {%- if recommend_products -%}
            <div class="product-recommendations-placeholder">
              {% comment %}
                This content is visually hidden and replaced when recommended products show up
              {% endcomment %}
              <div class="grid grid--uniform visually-invisible" aria-hidden="true">
                {%- render 'product-grid-item', product: product, per_row: number_of_products -%}
              </div>
            </div>
          {%- endif -%}
          {%- if related_collection.products_count > 1 -%}
            {%- liquid
              case number_of_products
                when 1
                  assign grid_item_width = ''
                when 2
                  assign grid_item_width = 'medium-up--one-half'
                when 3
                  assign grid_item_width = 'small--one-half medium-up--one-third'
                when 4
                  assign grid_item_width = 'small--one-half medium-up--one-quarter'
                when 5
                  assign grid_item_width = 'small--one-half medium-up--one-fifth'
                when 6
                  assign grid_item_width = 'small--one-half medium-up--one-sixth'
              endcase
            -%}

            <div class="product-recommendations">
              <div class="product-single__related grid grid--uniform" data-aos="overflow__animation">
                {%- for product in related_collection.products limit: number_of_products -%}


                  {%- render 'product-grid-item', product: product, grid_item_width: grid_item_width, per_row: number_of_products -%}
                {%- endfor -%}
              </div>
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
  {
    "name": "Product recommendations",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_product_recommendations",
        "label": "Show dynamic recommendations",
        "info": "Dynamic recommendations change and improve with time. [Learn more](https://help.shopify.com/en/themes/development/recommended-products)",
        "default": true
      },
      {
        "type": "text",
        "id": "product_recommendations_heading",
        "label": "Heading",
        "default": "You may also like"
      },
      {
        "type": "range",
        "id": "related_count",
        "label": "Number of related products",
        "default": 5,
        "min": 2,
        "max": 6,
        "step": 1
      }
    ]
  }
{% endschema %}
