{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div class="page-width">
  {%- if section.settings.title != blank -%}
    <div class="section-header text-{{ section.settings.align_text }}">
      <h2>{{ section.settings.title }}</h2>
    </div>
  {% endif %}

  <div class="grid {% unless section.blocks.size == 5 %}grid--uniform{% endunless %} grid--flush-bottom">
    {%- liquid
      assign grid_item_width = 'medium-up--one-third'
      case section.blocks.size
        when 1
          assign grid_item_width = 'medium-up--one-half'
        when 2
          assign grid_item_width = 'medium-up--one-half'
        when 4
          assign grid_item_width = 'medium-up--one-half'
      endcase
    -%}
    {%- for block in section.blocks -%}
      {%- if section.blocks.size == 5 and forloop.index < 3 -%}
        {%- assign column_width = 'medium-up--one-half' -%}
      {%- else -%}
        {%- assign column_width = grid_item_width -%}
      {%- endif -%}
      <div class="grid__item {{ column_width }} text-{{ section.settings.align_text }}" {{ block.shopify_attributes }} data-aos="row-of-3">
        {%- if block.settings.enable_image -%}
          <div style="{% if section.settings.align_text == 'center' %}margin: 0 auto;{% endif %} max-width: {{ block.settings.image_width }}px;">
            {% if block.settings.button_link != blank %}
              <a href="{{ block.settings.button_link }}">
            {% endif %}
            {% if block.settings.image != blank %}

              <div class="image-wrap text-spacing" style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.image.aspect_ratio }}%;">
                {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img class="lazyload"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 720, 900, 1080]"
                    data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ block.settings.image.alt }}">
              </div>
            {% else %}
              <div class="image-wrap text-spacing" style="height: 300px">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
            {% endif %}
            {% if block.settings.button_link != blank %}
              </a>
            {% endif %}
          </div>
        {% endif %}
        {%- if block.settings.title != blank -%}
          <h3>{{ block.settings.title }}</h3>
        {% endif %}
        {% if block.settings.text != blank %}
          <div class="rte-setting text-spacing">{{ block.settings.text }}</div>
        {% endif %}
        {% if block.settings.button_label != blank %}
          <a href="{{ block.settings.button_link }}" class="btn btn--secondary btn--small">
            {{ block.settings.button_label }}
          </a>
        {% endif %}
      </div>
    {%- endfor -%}
  </div>
</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}{"name":"Text columns with images","class":"index-section","settings":[{"type":"text","id":"title","label":"Heading"},{"type":"select","id":"align_text","label":"Text alignment","default":"center","options":[{"value":"left","label":"Left"},{"value":"center","label":"Centered"}]},{"type":"checkbox","id":"divider","label":"Show section divider","default":false}],"blocks":[{"type":"text_block","name":"Column","settings":[{"type":"checkbox","id":"enable_image","label":"Show image","default":true},{"type":"image_picker","id":"image","label":"Image"},{"type":"range","id":"image_width","label":"Image width","default":650,"min":60,"max":650,"step":10,"unit":"px"},{"type":"text","id":"title","label":"Heading","default":"Example title"},{"type":"richtext","id":"text","label":"Text","default":"<p>Use this section to explain a set of product features, to link to a series of pages, or to answer common questions about your products. Add images for emphasis.<\/p>"},{"type":"text","id":"button_label","label":"Button label","default":"Optional button"},{"type":"url","id":"button_link","label":"Link"}]}],"default":{"blocks":[{"type":"text_block"},{"type":"text_block"},{"type":"text_block"}]}}{% endschema %}
