.doubly-wrapper select{
  border: none;
  padding-left: 0;
  background-size: 9px;
}
.mobile-switcher{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.site-nav__weglot_mobile .wgcurrent{
  border: none !important;
}

@media only screen and (min-width: 769px){
  .mobile-only{
    display: none !important;
  }
}
@media only screen and (max-width: 768px){
  .desktop-only{
    display: none;
  }
}