{% comment %}
  JS-load cart markup without bloat of a full layout.

  This is used in both the mini cart drawer and cart page.
  When a quantity is changed, this file is scraped and data-products
    is fully replaced to account for possible cart discounts changing

  The cart-wide discount div also replaces what is originally in the cart
    as it can change anytime a cart-item changes
{% endcomment %}
{% layout none %}

<div class="cart__items"
  data-count="{{ cart.item_count }}"
  {% if cart.total_discounts > 0 %}
    data-cart-savings="{{ cart.total_discounts }}"
    data-cart-original-total="{{ cart.original_total_price }}"
  {% endif %}
  data-cart-subtotal="{{ cart.total_price }}">
  {% for item in cart.items %}

    {%- render 'cart-item', product: item, index: forloop.index0 -%}
  {% endfor %}
</div>
<div class="cart__discounts{% if cart.cart_level_discount_applications == blank %} hide{% endif %}">
  <div class="cart__item-sub cart__item-row">
    <div>{{ 'cart.general.discounts' | t }}</div>
    <div class="text-right">
      {% for cart_discount in cart.cart_level_discount_applications %}
        <div>
          {{ cart_discount.title }} (-{{ cart_discount.total_allocated_amount | money }})
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{%- liquid
  assign cart_items = cart.items | map: "product_id"
  assign upsell_products = ""
  assign show_upsell = false

  for item in cart.items
    if item.product.metafields.additional.related_products.value
      assign show_upsell = true
      break
    endif
  endfor
-%}

{% if show_upsell %}
  <div class="cart__upsell">
    {%- liquid
      assign cart_items = cart.items | map: "product_id"
      assign upsell_products = ""
    -%}

    {% for item in cart.items %}
      {% for product in item.product.metafields.additional.related_products.value %}
        {%- liquid
          assign product_id = product.id | append: ""
          assign upsell_products_array = upsell_products | remove_first: "," | split: ","
        -%}

        {% unless cart_items contains product.id or upsell_products_array contains product_id %}
          {% assign upsell_products = upsell_products | append: "," | append: product.id %}

          {% render 'cart-item-upsell', product: product %}
        {% endunless %}
      {% endfor %}
    {% endfor %}
  </div>
{% endif %}

{% if settings.shipping_label_enable %}
  {% assign shipping_amount = settings.shipping_label_amount | times: 100 %}

  <div class="cart__free-shipping">
    {% if cart.total_price >= shipping_amount %}
      {{ 'cart.general.shipping_label.success_html' | t }}
    {% else %}
      {% assign target_amount = shipping_amount | minus: cart.total_price | money %}
      {{ 'cart.general.shipping_label.regular_html' | t: amount: target_amount }}
    {% endif %}
  </div>
{% endif %}
